* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.cabecalho-texto {
    padding: 15px;
    cursor: pointer;
    color: rgb(70, 61, 61);
}
.cabecalho-texto:hover {
    text-decoration: underline;
}
.logo {
    height: 150px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;
}
.pesquisa {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    width: 50%;
    padding: 23px 10px 7px 20px;
    font-size: 18px;
    color: black;
    background: transparent ;
    border-radius: 25px;
    border: 1px solid rgb(192,183,183);
}
.botao {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    align-items: center;
}
.botao1, .botao2 {
    padding: 10px;
    margin-left: 50px;
    border-radius: 50px;
    cursor: pointer;

}